body {
  background: #0e1111;
  color: #84aca8;
}
.parent {
  margin-left: auto;
  margin-right: auto;
  border: dotted;
  background: #0e1111;
  width: 95%;
  color: #9789a7;
}
#toolbar {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #313b3b;
  width: 60%;
}
.label {
  float: left;
  display: block;
  text-align: left;
  border: dotted;
  width: 20%
  min-width: 20%
  color: #84aca8;
  background: #313b3b;
}
.btn {
  text-align: center;
  border: dotted;
  border-color: #9789a7;
  width: 12%;
  min-width: 12%;
}
.content {
  position: relative;
  text-align: right;
  border: dotted;
  width: 75%;
  border-color: #9789a7;
}
.inbound {
  background: #313b3b;
  color: #9789a7;
}
.outbound {
  background: #9789a7;
  color: #313b3b;
}
.i2cp {
  background: #313b3b;
  color: #9789a7;
}
.base32 {
  background: #313b3b;
  color: #9789a7;
}
.base64 {
  background: #313b3b;
  color: #9789a7;
}
.type {
  background: #9789a7;
  color: #313b3b;
}
.dest {
  background: #9789a7;
  color: #313b3b;
}


